
@font-face {
  font-family: "Permanent Marker";
  src: url(./fonts/PermanentMarker.ttf) format("truetype"),
    url(./fonts/PermanentMarker.woff) format("woff");
}

/* free images :: https://unsplash.com/ 
background-image: url(https://unsplash.com/photos/kL3u4Tqfn1s) // cyber punk image
background-image: url(https://unsplash.com/photos/0eKCOZ11gfk) // blade runner type image
++ favicons :: https://favicon.io/
++ favicon Resources :: https://favicon.io/favicon-generator/
*/

body,
h1,
h2,
h3,
h4,
p,
a {
  margin: 0;
  font-size: 100%;
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

.page {
  font-family: "Inter", sans-serif;;
  background: #372828f2;
}

/* header class  set standards */
.header {
  height: 100vh;
  background-color: rgba(113, 117, 74, 0.787);
  background-image: url("https://pictures.s3.yandex.net/frontend-developer/free-course/card-1.jpg");
  background-size: cover;
  background-position: center;
  text-align: left;
  font-style: italic;
}

/* add a CSS rule for the page title here */

.header-title {
  font-family: "PermanentMarker",cursive;
  font-size: 140px;
  line-height: 140px;
  color: white;
  text-transform: uppercase;
  max-width: 1240px;
  font-style: italic;
  font-weight: 500;
  text-align: center;
  margin: auto;
  /* i dont like center ,,, but ill do it anyway */
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
}

/* add CSS rules for cards and their content here */

.card{
  width: 45%;
  /*background-color: #e3f3ff;*/
  margin-bottom : 60px;
  padding: 25px 25px 60px 25px;
  box-shadow: 3px 3px rgb(195, 198, 193), -1em 0 .4em;
  /*border: 2px solid rgba(250, 50, 50, .4);*/
  display: inline-block;
  font-size: 0;
  margin-right: auto;
}

.no-right-margin{
  margin-right: 0;
}

.card-title{
  font-size: 24;
  font-weight: 500; 
  margin-bottom: 10px;
}
.card-title{
  font-size: 25px;
  font-weight: 500; 
  margin-bottom: 10%;
  color: rgb(242, 234, 234);
}

.card-text{
  font-size: 20px;
  font-weight: 500; 
  color:rgba(225, 218, 218, 0.701);
  margin-bottom: 10px;
}

.card-image{
  width: 100%;
  margin-bottom:25px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* add missing declarations */
  max-width: 790px;
  margin: 100px auto 50px;
}

.footer{
  background-color: #000;
  display: flex;
}

/* add a CSS rule for the footer signature */
.footer-author{
  font-size: 24px;
  color: #fff;
  margin: auto;
}


