@font-face {
  font-family: "Permanent Marker";
  src: url(./fonts/PermanentMarker.ttf) format("truetype"),
    url(./fonts/PermanentMarker.woff) format("woff");
}

/* free images :: https://unsplash.com/ 
background-image: url(https://unsplash.com/photos/kL3u4Tqfn1s) // cyber punk image
background-image: url(https://unsplash.com/photos/0eKCOZ11gfk) // blade runner type image
++ favicons :: https://favicon.io/
++ favicon Resources :: https://favicon.io/favicon-generator/
*/

body,
h1,
h2,
h3,
h4,
p,
a {
  margin: 0;
  font-size: 100%;
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

.page {
  font-family: "Inter", sans-serif;
  background: #eeeeee;
}

/* header class  set standards */
.header {
  height: 100vh;
  background-color: #eee;
  background-image: url(https://pictures.s3.yandex.net/frontend-developer/free-course/card-1.jpg);
  background-size: cover;
  background-position: center;
  text-align: left;
  font-style: italic;
  font-family: PermanentMarker;
}

.header-title {
  font-size: 140px;
  color: white;
  text-shadow: #000;
  font-style: italic;
  text-transform: uppercase;
  font-weight: 500;
  /*padding-top: 100px;*/
  margin: auto;
}

/* add a CSS rule for the page title here */

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* add missing declarations */
}

.card{
  width: 350px;
  /*background-color: #e3f3ff;*/
  margin-bottom : 60px;
  padding: 45px 45px 70px 45px;
  box-shadow: 4px 4px 5px rgba(250, 50, 50, .4);
  /*border: 2px solid rgba(250, 50, 50, .4);*/
  display: inline-block;
  font-size: 0;
  margin-right: 90;
}

.no-right-margin{
  margin-right: 0;
}

/* add CSS rules for cards and their content here */
.card-title{
  font-size: 24;
  font-weight: 500; 
  margin-bottom: 10px;
}

.card-text{
  font-size: 16;
  font-weight: 500; 
}

.card-image{
  width: 100%;
  margin-bottom:25px;
}

.footer{
  background-color: #000;
  display: flex;
}

.footer-author{
  font-size: 24px;
  color: #fff;
  margin: auto;
}

/* add a CSS rule for the footer signature */
